*{
    margin: 0;
}
body{
    background-color: bisque;
}

header{
    
    background-image: url(/Pcis/COFEE255.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    margin-bottom: -50%;
   

}
.box1{
    display: flex;
}

.box1 ul{
    list-style: none;
    margin-left: 57%;
    margin-top: 2%;

    

}


.Logo{
    width: 85%;
    height: 20%;
    margin-top: -15%;
    margin-bottom: -100%;
}

 
ul.Login li .btn-outline-light{
    font-size: 18px;
    font-weight: 700;
    width: 180px;
    margin-top: 5%;
    border: 3px solid white;
}
div.geoLoc{
    display: flex;
    margin-top: 15%;
}
div.geoLoc input{
    margin-top: 30%;
    margin-left: 35%;
    width: 300px;
}

div.geoLoc .btn{
    margin-top: 30%;
    margin-left: 1%;
    width: 100px;
}

/* *******Admin Login Page****** */
.LogoLogin{
    margin-top: 9%;
    width:22%;
    height: 20%;
    margin-left: 0.%;
}

.form-group label{
    font-size: 27px;
   
   
}

form{
    margin-top: 45%;
    margin-left: 40%;
   
}

.form-group input.form-control{
width: 250px;
height: 30px;
font-size: 17px;
margin-bottom: 0;
}


#emailHelp{
    font-size: 17px;
    
}
#exampleCheck1{
width: 20px;
height: 20px;
}
form button {
    width: 130px;
    height: 30px;
} .btn-primary {
font-size: 15px;
padding-top: 1px;
text-align: center;

}

/* ***********************Mobile*************** *********** */
@media screen and (max-width:600px){
    .Logo {
    width: 50px;
    height:50px ;
    margin-top: -10%;
    
        
        
    }
    .LogoLogin{
    width: 60px;
    height:50px ;
    margin-top: 4%;

    }

    header{
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
    height: 400px;;
    }

    ul.Login li .btn-outline-light{
        font-size: 8px;
        font-weight: 600;
        width: 90px;
        margin-top: 1%;
        border: 3px solid white;
    }
    
    .box1 ul{
        list-style: none;
        margin-left: 50%;
        margin-top: 1%;
}
div.geoLoc{
    display: flex;
}
div.geoLoc input{
    margin-top: 30%;
    margin-left: 1%;
    width: 250px;
    overflow: hidden;
}

div.geoLoc .btn .btn-secondary{
    margin-top: 3%;
    margin-left: 1%;
    padding: 2px;
    width: 130px;

}

div.Mobilestate{
    width: 100%;
}
form{
    margin-left: 0;
    margin-top: -20%;
}
}

